@using Equipments.View.ViewModels
@using Equipments.View.ViewModels.Employee
@using Equipments.View.ViewModels.Equipment
@model EmployeeIndexViewModel

@{
    ViewData["Title"] = "Сотрудники";

    var statusInactiveButton = "disabled";
    var statusSelectedPage = "active";
}

<h1>Сотрудники</h1>
